doctype
html
  head
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/main.css")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="rapom")
    meta(name="description" content="Rapom")

    title Rapom
  body

    header
      .container
        h1
          a(href="/") <i class="fa fa-globe"></i> Rapom
        div.navigation
          .container.pure-menu.pure-menu-open.pure-menu-horizontal
            ul.pure-menu-list
              li.pure-menu-item(class="#{ current.source == 'index' ? 'pure-menu-selected' : '' }")
                a.pure-menu-link(href="/") Služby
              li.pure-menu-item(class="#{ current.source == 'kontakt' ? 'pure-menu-selected' : '' }")
                a.pure-menu-link(href="/kontakt") Kontakt



    != yield

    footer
      .container
        p
          |  &copy; Rapom
          |  &mdash;
          a(href="/") Služby
          |  &mdash;
          a(href="/kontakt") Kontakt
