.container

  .page-header
    h2 Služby

  h3 Konzultační činnost v oblasti ICT

  p Poskytujeme konzultační činnost pro oblasti ICT. Návrhy sítí, analýzy flow a provozu. Bezpečnostní audity.

  p
    a.pure-button(href="#") Více

  h3 Provádění staveb

  p Stavební a inženýrská činnost.

  p
    a.pure-button(href="#") Více
