.container

  .page-header
    h2 Kontakt

  table.pure-table
    tbody
      tr
        td <i class="fa fa-phone"></i> Telefon
        td +420 603 299 845
      tr
        td <i class="fa fa-envelope"></i> Email
        td <a href="mailto:info@rapom.cz" title="Poslat email na tuto adresu">info@rapom.cz</a>
      tr
        td <i class="fa fa-home"></i> Web
        td <a href="http://rapom.cz">rapom.cz</a>
      tr
        td Adresa
        td Slovanské údolí 117<br> Plzeň
